.choice{
  background-color: #0099ff;
  padding-top: 2%;
  padding-bottom:  2%;
  text-align: center;
}

.choice span{
  margin-left: 2%;
  margin-right: 2%;
}

.choice button{
  display: inline;
  width: 6%;
  border-radius: 10%;
  border: 1px solid #ff6666;
  background-color: #66ffff;
}

.formu{
  text-align: center;
  margin: 10% 35% 10% 35%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 4mm ridge rgba(170, 50, 220, .6);
}

.formu span{
  display: block;
  padding: 1%;
}
